<div class="messages col-md-4">
  <div class="message-pane">
    <% Message.all.order(created_at: :desc).each do |m| %>
      <div class="alert alert-info">
        <p>
        <strong><%= m.username%></strong> <small><%= m.created_at %></small> </br>
          <%=m.body%>
        </p>
      </div>
    <% end %>
  </div>

    <%= form_tag(messages_path, id: "message_form") do %>
      <%= text_area_tag(:message, "", id: "message") %>
      <%= submit_tag("Submit") %>
    <% end %>
</div>
