<div class="user row" id="<%= user.id %>">
  <div class="user-portrait col-md-4">
    <div class="col-md-6">
      <h4 class="text-center"><%= user.name %></h4>

      <% if user_signed_in? and current_user == user %>
        <div class="col-md-5" style="margin-right:10px;">
          <%= form_tag(go_down_user_path(user)) do %>
            <button type="submit" id="<%=user.id%>-go-down" class="btn btn-primary">
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
          <% end %>
        </div>

        <div class="col-md-5">
          <%= form_tag(go_up_user_path(user)) do %>
            <button type="submit" id="<%=user.id%>-go-up" class="btn btn-primary">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="rank_<%= user.rank %>"></div>
    </div>
  </div>
  <div class="progress col-md-8">
    <div class="progress-bar" role="progressbar"
      aria_valuenow = "<%= 100 - user.rank*4 %>"
      aria_valuemin = "0"
      aria_valuemax = "100"
      style ="width: <%= 100 - user.rank*4 %>%;"></div>
  </div>
</div>
