<div class="users">
  <% User.all.each do |user|  %>
    <dl>
      <div class="user" id="<%= user.id %>">
        <dt><%= user.name %></dt>
        <div class="rank_<%= user.rank %>"></div>
        <%= form_tag(go_down_user_path(user)) do %>
          <%= submit_tag("Go Down", class: "btn") %>
        <% end %>

        <%= form_tag(go_up_user_path(user)) do %>
          <%= submit_tag("Go Up", class:"btn") %>
        <% end %>
      </div>
    </dl>
  <% end %>
</div>

<div class="messages">
  <% Message.all.each do |m| %>
    <p><%= m.username%>: <%=m.body%></p>
  <% end %>
</div>
