<!DOCTYPE html>
<html>
<head>
  <title>Free to Play Hearthstone Tracker</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| -%>
  <div class="<%= name %>">
    <p><%= msg %></p>
  </div>
<% end -%>

<%= yield %>

</body>
</html>
