<!DOCTYPE html>
<html>
<head>
  <title>Free to Play Hearthstone Tracker</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="well well-lg text-center">
    <h1>The FTP Tracker</h1>
  </div>

  <div class="container">
    <div class="row">
      <% flash.each do |name, msg| -%>
      <div class="<%= name %>">
        <p><%= msg %></p>
      </div>
      <% end -%>
    </div>

    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
